page-contact {

    .ImagemDuvida {
        max-width: 1080px;

        margin: 5px; 
        width: 220px; height: 150px;

        position: relative;
        margin-top: 10px; /*parte superior*/
        left: 50px; /*lateral*/
    }


}
