page-contact {
    
}
.ImagemDuvida {
    max-width: 1080px;

    margin: 5px ; 
    width: 250px; height: 180px;

    position: relative;
    margin-top: 20px; /*parte superior*/
    left: 20px; /*lateral*/
}